<footer>
<div id="elsewhere">
    <a href="https://github.com/iamseeley" target="_blank">github</a>
     <a href="https://x.com/iamseeley" target="_blank">x.com</a> 
     <a href="mailto:hello@tseeley.com" target="_blank">email</a>
<a href="https://www.val.town/u/iamseeley" target="_blank">val.town</a>
    </div>
    <p class="copy">
        <a href="/about">Thomas Seeley</a> © 2024 — <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">BY-NC-SA 4.0</a>
    </p>
</footer>