<header>
    <div>
      <a href='/'><img src='/images/profile.jpg'></img></a>
    <h2>thomas seeley</h2>
    <h3>hi there, my name is thomas and i'm a <a href="/serial-tinkerer">...</a>.</h3>
    </div>
    <nav>
      <a href='/posts'>posts</a>
      <a href='/projects'>projects</a>
      <a href='/bookmarks'>bookmarks</a>
      <a href='/about'>about</a>
    </nav>
</header>