<header>
    <div>
      
       <div class="pixelated-flower-field"></div>
    <span><a href='/'><img src='/images/profile.png'></img></a><h2>thomas seeley</h2></span>
    <h3>hi there, my name is thomas. i'm a <a href="/posts/serial-tinkerer">serial tinkerer</a> and <a href="/posts/curious-human">curious human</a>.</h3>
    <span><em>programming as creative self-expression</em></span>
    </div>
    <nav>
      <a href='/posts'>posts</a>
      <a href='/projects'>projects</a>
      <a href='/bookmarks'>bookmarks</a>
      <a href='/about'>about</a>
    </nav>
</header>