<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{metadata.title}} ✦ thomas seeley</title>
  <meta property="og:image" content="https://iamseeley-pinkhornetssss.web.val.run/?title={{metadata.title}}&subtitle=%20&bgColor=%23e15a24&textColor=%231A202C&font=Aleo">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/css/prism-coldark-dark.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-typescript.min.js"></script>
</head>
<body>
  {{> header siteTitle=siteTitle}}
   {{#with (getCurrentRoute this) as |currentRoute|}}
  {{#if (eq currentRoute "/index")}}
  <div class="section-break-container">
    <div class="section-break-line"></div>
    <span class="section-break-icon">✦</span>
  </div>
  {{/if}}
  {{/with}}
  <main>
    {{{body}}}
  </main>
  {{> footer }}
  <script src="/js/main.js"></script>
  <script type="module">
  import { initializeValComponents } from "https://esm.town/v/iamseeley/valPreview";
  document.addEventListener('DOMContentLoaded', initializeValComponents);
</script>
</body>
</html>
