<article class="blog-content">
  <div class="posts-header"><h2>{{metadata.title}}</h2></div>
  {{!-- <span>by thomas</span> --}}
  <span class="date"><em>{{formatDate metadata.date}}</em></span>
  {{{content}}}
</article>
